.Slider {
    margin-top: 100px;
    margin-bottom: 100px;

}

/* .image {
    background-image: url(images/cover/cover-1.png);
} */
.carousel-caption {
    bottom: 150px;
}

.carousel-caption h1 {
    font-weight: 400;
    font-size: 70px;
}

.course-list {
    left: 50px;
}

.reg-box {
    width: 1110px;
    margin-left: 120px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;

}

.reg {
    padding-left: 50px;
}

.btn-reg {
    background-color: white;
    margin-left: 350px;
    border-radius: 7px;

}

.questions {
    margin-left: 200px;
}

.companies {
    height: 20px;
}

.last {
    background-color: rgb(44, 43, 43);
    width: 100ox;
    height: 500px;
}

.h1-txt {
    margin-top: 150px;
}

.icons {
    position: absolute;
    left: 520px;
}